@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  --blue: #2563EB;
  --white: #ffffff;
  --gray: #E5E7EB;
}

html {
   font-family: 'Inter', sans-serif;
}

/* delete arrows of number type input */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* customizing range input */

input[type="range"] {
  -webkit-appearance: none;

  width: 90%;
  height: 2px;
  padding: 0;
  border-radius: 2px;
  outline: none;
  cursor: pointer;
  background: var(--blue);
}

input[type=range]::-webkit-slider-thumb {
  border: 1.5px solid var(--blue);
  height: 8px;
  width: 8px;
  border-radius: 4px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -2px;
}

input[type=range]::-webkit-slider-runnable-track {
  color: var(--blue);
  border-radius: 3px;
  height: 3px;
  -webkit-appearance: none;
}

input[type=range]::-webkit-slider-thumb {
  border: 1.5px solid var(--blue);
  height: 8px;
  width: 8px;
  border-radius: 4px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -2px;
}

